"$schema" = "https://jj-vcs.github.io/jj/latest/config-schema.json"

[user]
name = "Christian Dunn"
email = "chris@wabisabia.com"

[merge]
hunk-level = "word"

[git]
private-commits = "description(glob:'wip:*') | description(glob:'private:*')"

[template-aliases]
"format_short_id(id)" = "id.shortest()"
"format_timestamp(timestamp)" = "timestamp.ago()"
"format_short_signature(signature)" = "signature.email().local()"

[revset-aliases]
"branch()" = "fork_point(@ | trunk())..@"
"branch(x)" = "fork_point(bookmarks(x) | trunk())..bookmarks(x)"
"me" = "fork_point(mine() & mutable())::"

[ui]
default-command = "log"
diff-editor = "diffe"
diff-formatter = "difft"

[aliases]
clone = ["git", "clone"]
d = ["diff"]
l = ["log"]
pull = ["git", "fetch"]
push = ["git", "push"]
tug = ["bookmark", "move", "--from", "heads(::@- & bookmarks())", "--to", "@-"]
pr = ["log", "--reversed", "--no-graph", "--template", "'- ' ++ self.description().first_line() ++ '\n'", "--revisions", "main..@ & ~description(exact:'')"]

[merge-tools.diffe]
program = "nvim"
edit-args = ["-c", "DiffEditor $left $right $output"]

[merge-tools.difft]
program = "difft"
diff-args = ["--color=always", "$left", "$right"]

[merge-tools.diffconflicts]
program = "nvim"
merge-args = [
  "-c",
  "let g:jj_diffconflicts_marker_length=$marker_length",
  "-c",
  "JJDiffConflicts",
  "$output",
]
merge-tool-edits-conflict-markers = true

[fix.tools.1-ruff-lint]
command = ["uv", "run", "ruff", "check", "--fix", "--quiet", "--stdin-filename=$path", "-"]
patterns = ["glob:'**/*.py'"]

[fix.tools.2-ruff-format]
command = ["uv", "run", "ruff", "format", "--stdin-filename=$path", "-"]
patterns = ["glob:'**/*.py'"]
