[user]
name = "Christian Dunn"
email = "chris@wabisabia.com"

[merge]
hunk-level = "word"

[git]
private-commits = "private"

[template-aliases]
"format_short_id(id)" = "id.shortest()"
"format_timestamp(timestamp)" = "timestamp.ago()"
"format_short_signature(signature)" = "signature.email().local()"
change_list = "'- ' ++ self.description().first_line() ++ '\n'"
change_list_bold = "'- **' ++ self.description().first_line() ++ '**\n'"

[ui]
default-command = "log"
diff-editor = "diffe"
diff-formatter = "difft"

[aliases]
clone = ["git", "clone"]
d = ["diff"]
l = ["log"]
pull = ["git", "fetch"]
push = ["git", "push"]
tug = ["bookmark", "move", "--from", "heads(::@- & bookmarks())", "--to", "@-"]
pr = [
  "log",
  "--reversed",
  "--no-graph",
  "--template",
  "change_list",
  "--revisions",
  "branch & ~@ & ~description(exact:'')",
]
ghpr = [
  "log",
  "--reversed",
  "--no-graph",
  "--template",
  "change_list_bold",
  "--revisions",
  "branch & ~@ & ~description(exact:'')",
]

[revset-aliases]
branch = "@ | main..@ & ~private"
private = "description(glob:'{wip,private,optional}*')"

[merge-tools.diffe]
program = "nvim"
edit-args = ["-c", "DiffEditor $left $right $output"]

[merge-tools.difft]
program = "difft"
diff-args = ["--color=always", "$left", "$right"]

[merge-tools.diffconflicts]
program = "nvim"
merge-args = [
  "-c",
  "let g:jj_diffconflicts_marker_length=$marker_length",
  "-c",
  "JJDiffConflicts",
  "$output",
]
merge-tool-edits-conflict-markers = true

[fix.tools.1-ruff-lint]
command = ["uv", "run", "ruff", "check", "--fix", "--quiet", "--stdin-filename=$path", "-"]
patterns = ["glob:'**/*.py'"]

[fix.tools.2-ruff-format]
command = ["uv", "run", "ruff", "format", "--stdin-filename=$path", "-"]
patterns = ["glob:'**/*.py'"]
